*{
 font-size: 50px;
 text-align: center;
 color: red;
}

.p1{
    color: blue;
    font-size: 30px;
}

ul{
    list-style-type: none;
	padding: 0px;
	margin: 0px;
	background-color: #AAAAAA;
	width: 20%;
	font-family: tahoma;
	position: fixed;

}